td {
 border: 1px solid #212121;
 width: 50px;
 height: 50px;
 text-align: center;
 user-select: none;
 font-weight: bold;
}

.right-border {
 border-right: 3px solid #212121;
}

.bottom-border {
 border-bottom: 3px solid #212121;
}

.cell-modifiable {
 cursor: pointer;
 color: rgb(99 102 241);
}

.cell-invalid {
 background-color: #ff000054;
}

.cell-hinted {
 color: rgb(99 102 241);
 animation-name: hintAnimation;
 animation-duration: 2s;
 animation-timing-function: ease-out;
}

@keyframes hintAnimation {
 from {
  background-color: rgb(99 102 241);
 }
 to {
  background-color: initial;
 }
}
